<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    
    <!-- Slide 1 -->
    <div class="swiper-slide">
      <img src="../../assets/images/b1.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="banner_text_design">
              <div class="banner_main_heading">
                <p class="en">"Guidance by selected civil officers."</p>
                <p class="hi">"चयनित सिविल अधिकारियों द्वारा मार्गदर्शन।"</p>
              </div>
              <div class="banner_sub_heading">
                <h1 class="en">Mentorship from Those Who've Cracked It Already</h1>
                <h1 class="hi">उन लोगों से मेंटरशिप जो पहले ही यूपीएससी क्रैक कर चुके हैं</h1>
              </div>
              <div class="banner_text">
                <span class="en">Empower your UPSC journey with real exam insights and strategic mentorship.</span>
                <span class="hi">वास्तविक परीक्षा अंतरदृष्टि और रणनीतिक मेंटरशिप के साथ अपनी यूपीएससी यात्रा को सशक्त बनाएं।</span>
              </div>
              <div class="banner_text_list">
                <ul>
                  <li class="mb-1">
                    <i class="bi bi-check2-all me-2"></i>
                    <span class="en">Strategic Mentorship from CSE-qualified professionals</span>
                    <span class="hi">CSE में चयनित व्यक्तियों द्वारा रणनीतिक मार्गदर्शन</span>
                  </li>
                  <li class="mb-1">
                    <i class="bi bi-check2-all me-2"></i>
                    <span class="en">Strategy-focused guidance: Prelims, Mains & Interview</span>
                    <span class="hi">रणनीति-केंद्रित मार्गदर्शन: प्रीलिम्स, मेंस और साक्षात्कार</span>
                  </li>
                  <li class="mb-1">
                    <i class="bi bi-check2-all me-2"></i>
                    <span class="en">one-to-one personalized mentorship</span>
                    <span class="hi">one-to-one व्यक्तिगत मेंटरशिप</span>
                  </li>
                  <li class="mb-1">
                    <i class="bi bi-check2-all me-2"></i>
                    <span class="en">Expert guidance from selected candidates</span>
                    <span class="hi">चयनित अभ्यर्थियों के अनुभव से मार्गदर्शन</span>
                  </li>
                </ul>
              </div>
              <div class="banner_button">
                <button class="common_button">
                  <div class="button_icon">
                    <img src="../../assets/images/button_right_icon.svg" alt="">
                  </div>
                  <span routerLink="/register" class="pe-2 en">Enroll Now</span>
                  <span routerLink="/register" class="pe-2 hi">नामांकन करें</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="swiper-slide slide-2">
      <img src="../../assets/images/b2.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="banner_text_design">
              <div class="banner_sub_heading">
                <h1 class="en">
                  Achieve IAS Ambition with
                  <span>India's Leading UPSC Coaching Institute</span>
                </h1>
                <h1 class="hi">
                  <span>भारत के अग्रणी यूपीएससी कोचिंग संस्थान</span>
                  के साथ आईएएस की महत्वाकांक्षाओं को प्राप्त करें
                </h1>
              </div>
              <div class="banner_text">
                <span class="en">
                  We believe every aspirant's journey is unique. Our mentorship program 
                  provides one-on-one guidance, doubt resolution, customized study-plan 
                  and continuous motivation to keep you on track till success.
                </span>
                <span class="hi">
                  हम मानते हैं कि प्रत्येक अभ्यर्थी की यात्रा अद्वितीय होती है। हमारा मेंटरशिप कार्यक्रम 
                  one-to-one, संदेह समाधान, अध्ययन-योजना अनुकूलन और आपको सफलता तक 
                  ट्रैक पर रखने के लिए निरंतर प्रेरणा प्रदान करता है।
                </span>
              </div>
              <div class="banner_button">
                <button class="common_button">
                  <div class="button_icon">
                    <img src="../../assets/images/button_right_icon.svg" alt="">
                  </div>
                  <span class="pe-2 en">Learn More</span>
                  <span class="pe-2 hi">और जानें</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="swiper-slide slide-3">
      <img src="../../assets/images/b3.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="banner_text_design">
              <div class="banner_sub_heading">
                <h1 class="en">
                  GET READY TO START YOUR<br>
                  <span>UPSC PREPARATION!</span>
                </h1>
                <h1 class="hi">
                  <br>
                  <span>UPSC</span> की तैयारी शुरू करने के लिए 
                </h1>
              </div>
              
              <div class="banner_small_heading">
                <span class="line"></span>
                <span class="text en">Join</span>
                <!-- <span class="text hi">जुड़ें</span> -->
                <span class="line"></span>
              </div>
              
              <div class="banner_highlight_text">
                <span class="en">Join our Mentorship Program</span>
                <span class="hi">हमारे मेंटरशिप कार्यक्रम से आज ही जुड़ें।</span>
              </div>

              <div class="banner_text">
                <span class="en">Today!</span>
                <!-- <span class="hi">आज ही!</span> -->
              </div>
              
              <div class="banner_button">
                <button class="common_button">
                  <div class="button_icon">
                    <img src="../../assets/images/button_right_icon.svg" alt="">
                  </div>
                  <span routerLink="/register" class="pe-2 en">Enroll Now</span>
                  <span routerLink="/register" class="pe-2 hi">नामांकन करें</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="swiper-slide slide-4">
      <img src="../../assets/images/b5.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="banner_text_design">
              <div class="banner_sub_heading">
                <h1 class="en">
                  Master Classes for Answer<br>
                  Writing-UPSC CSE Mains<br>
                  <br>
                  Join Now Today!
                </h1>
                <h1 class="hi">
                  UPSC CSE मुख्य परीक्षा उत्तर<br>
                  लेखन के लिए मास्टर क्लास<br>
                  <br>
                  आज ही जुड़ें!
                </h1>
              </div>

              <!-- <div class="banner_text">
                <span class="en">
                  Develop Fundamentals of Answer Writing Skills for High-Scoring UPSC Mains
                </span>
                <span class="hi">
                  उच्च-स्कोरिंग यूपीएससी मेंस के लिए उत्तर लेखन कौशल की मूल बातें विकसित करें
                </span>
              </div> -->
              
              <div class="banner_button">
                <button class="common_button">
                  <div class="button_icon">
                    <img src="../../assets/images/button_right_icon.svg" alt="">
                  </div>
                  <span routerLink="/register" class="pe-2 en">Enroll Now</span>
                  <span routerLink="/register" class="pe-2 hi">नामांकन करें</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="swiper-slide slide-5">
      <img src="../../assets/images/b4.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="banner_text_design">
              <div class="banner_sub_heading">
                <h1 class="en">
                  Are you ready to take your<br>
                  UPSC preparation in a new direction with a new strategy?
                </h1>
                <h1 class="hi">
                  क्या आप नई रणनीति<br>
                  के साथ अपनी UPSC तैयारी को एक नई दिशा देने के लिए तैयार हैं?
                </h1>
              </div>
              
              <div class="banner_text">
                <span class="en">
                  Join ThinkCivil IAS's Mentorship Program today and take a
                  step towards your dream career
                </span>
                <span class="hi">
                  Thinkcivil IAS के मेंटरशिप प्रोग्राम में आज ही शामिल हों और अपने
                  UPSC सपने की ओर एक कदम बढ़ाएं
                </span>
              </div>
              
              <div class="banner_button">
                <button class="common_button">
                  <div class="button_icon">
                    <img src="../../assets/images/button_right_icon.svg" alt="">
                  </div>
                  <span routerLink="/register" class="pe-2 en">Enroll Now</span>
                  <span routerLink="/register" class="pe-2 hi">नामांकन करें</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>  

  <div class="swiper-pagination"></div>
</div>